<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runupstdio.lumbungdesa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PopupActivity"
            android:theme="@style/popupCheckout">
        </activity>
        <activity android:name=".KategoriActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatActivity"
            android:theme="@style/fragmentClub" />
        <activity android:name=".ListChatActivity" />
        <activity
            android:name=".CheckoutActivity"
            android:label="Pembayaran"
            android:parentActivityName=".KeranjangActivity" />
        <activity android:name=".JualActivity" />
        <activity
            android:name=".KeranjangActivity"
            android:label="Keranjang"
            android:parentActivityName=".ProductClickedActivity" />
        <activity
            android:name=".ProductClickedActivity"
            android:parentActivityName=".NavigationBar"
            android:theme="@style/hideActionBar" />
        <activity
            android:name=".NavigationBar"
            android:theme="@style/fragmentClub" />
        <activity
            android:name=".OTPActivity"
            android:theme="@style/signUp" />
        <activity
            android:name=".SigninActivity"
            android:theme="@style/hideActionBar" />
        <activity
            android:name=".Signup2Activity"
            android:parentActivityName=".SignupActivity"
            android:theme="@style/signUp" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/signUp" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>